{% extends 'base.html' %}
{% block content %}
<h1 class="font-bold mt-2 mx-auto text-5xl text-center">My Blogs</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-10">
  <!-- Blog Post Block 1 -->
  <div class="bg-white p-4 rounded-lg shadow-md">
    <h3 class="text-xl font-semibold mb-2">Exploring the Latest Web Development Trends</h3>
    <p class="text-gray-700">Stay updated with the ever-evolving world of web development and discover the latest technologies and techniques. Explore topics such as Progressive Web Apps (PWAs), serverless architecture, and the future of front-end frameworks.</p>
     <button class="btn btn-primary text-center mt-4 mx-auto">Read More</button>
</div>

  <!-- Blog Post Block 2 -->
  <div class="bg-white p-4 rounded-lg shadow-md">
    <h3 class="text-xl font-semibold mb-2">Mastering the Art of Responsive Design</h3>
    <p class="text-gray-700">Learn how to create responsive and mobile-friendly websites to enhance user experiences. Dive into responsive design principles, media queries, and practical tips for ensuring your web projects look great on all devices.</p>


</div>

  <!-- Blog Post Block 3 -->
  <div class="bg-white p-4 rounded-lg shadow-md">
    <h3 class="text-xl font-semibold mb-2">Diving into Data Science: An Introduction</h3>
    <p class="text-gray-700">Explore the exciting field of data science and discover its applications in various industries. Learn about data analysis, machine learning, and data visualization, and how data scientists make data-driven decisions.</p>
</div>

  <!-- Blog Post Block 4 -->
  <div class="bg-white p-4 rounded-lg shadow-md">
    <h3 class="text-xl font-semibold mb-2">Building Scalable Web Apps with Django</h3>
    <p class="text-gray-700">Get insights into building scalable and high-performance web applications using the Django framework. Explore topics like database optimization, caching, and best practices for handling large user bases and traffic.</p>
</div>

  <!-- Blog Post Block 5 -->
  <div class="bg-white p-4 rounded-lg shadow-md">
    <h3 class="text-xl font-semibold mb-2">The Power of Python: Scripting for Automation</h3>
    <p class="text-gray-700">Discover how Python scripting can simplify complex tasks and streamline workflows. Explore real-world examples of automating repetitive tasks, managing data, and creating efficient scripts for productivity.</p>
</div>

  <!-- Blog Post Block 6 -->
  <div class="bg-white p-4 rounded-lg shadow-md">
    <h3 class="text-xl font-semibold mb-2">Nurturing Creativity in Software Development</h3>
    <p class="text-gray-700">Explore ways to foster creativity and innovation in software development teams for better results. Learn about creative problem-solving techniques, team collaboration, and strategies for maintaining a creative mindset in the tech industry.</p>
       <button class="btn btn-primary text-center mt-4 mx-auto">Read More</button>
</div>
</div>










{% endblock content %}