{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block hero %}{% endblock hero %}




{% block content %}
<div style='width:50%;margin:auto'>

{% if is_admin %}
    <form method="post">
        <h1 class="font-bold text-4xl mb-4 mt-3">My Profile</h1>
        {% csrf_token %}
        {% if form %}
            {{ form|crispy }}
            <input type="submit" value="Save changes" class='btn btn-primary text-black'>
        {% else %}
            <p>You are not authorized to edit this profile.</p>
        {% endif %}
    </form>
{% else %}
    {{ form|crispy }}
{% endif %}
</div>
{% endblock content %}
