{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block hero %}{% endblock hero %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-3xl font-semibold mb-6">Project List</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for project in projects %}
        <div class="card w-96 bg-base-100 shadow-xl">
            <figure class="px-10 pt-10">
                <img src="{{ project.screenshots.url }}" alt="{{ project.title }}" class="rounded-xl" />
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <p class="font-semibold">Technology Used:</p>
                <p>{{ project.technologies_used }}</p>
                {% comment %} <p class="font-semibold">Average Rating:</p> {% endcomment %}
                {% comment %} {% if project.average_rating %}
                <p>{{ project.average_rating|floatformat:1 }}</p> <!-- Display average rating with one decimal place -->
                {% else %}
                <p>No ratings yet</p>
                {% endif %} {% endcomment %}
                <button class="btn btn-primary">
                    <a href="{{ project.project_url }}">Visit Project</a>
                </button>
            

             {% comment %} <h2>Rate This Project</h2>
              <form method="post" action="{% url 'projectlist' %}">
               {% csrf_token %}
               {{ form|crispy }}
              <input type="hidden" name="project_id" value="{{ project.id }}">

             <button type="submit">Submit</button>
            </form> {% endcomment %}

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
